/* Header Styles */
body{
    font-family:cursive;
}

header {
    text-align: center;
    background-color: #f8f4f4;
    padding: 20px;
}

h1 {
    font-size: 36px;
    margin: 0;
}

p {
    font-size: 18px;
    margin: 10px 0;
}

.titulo{
    font-weight: 500;
    font-size: 36px;
    background-color: #f4f4f4;
    color: #0c0b0b;

}

.container1{
    display: flex;
    background-color: #0c0b0b;
    color: #f4f4f4;
    width: auto;
    height: 60px;
    justify-content: space-between;
}
.btn-shop-now {

    background-color: black; 
    color: white; 
    border: 4px solid white;
    display: outline-block;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    
}




/* Product List Styles */
.product-list {
    display: block;
    justify-content: inherit;
    margin: 20px;
}

.product {
    background-color: black;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #888;
    display: flex;
    justify-content: space-around;
    color: #f4f4f4;
}

.product h2 {
    font-size: 24px;
}

.product h3 {
    font-size: 18px;
    color: #f4f4f4;
}

.product p {
    font-size: 16px;
    margin-top: 10px;
}

/* Tabs Styles */
.tabs {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.tab:hover {
    background-color: #555;
}

/* Sale Section Styles */
.sale {
    text-align: center;
    margin: 20px;
    justify-content: center;
}

.sale h2 {
    font-size: 24px;
    color: #0c0b0b;
}

/* Footer Styles */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

footer a {
    color: #ff5733;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

.Imagen1{
    width: 375px;
    height: 270px;
    max-width: 100%;
    object-fit: cover;

}

.container{
    display: flex;
    background-color: #0c0b0b;
    color: #f4f4f4;
    width: auto;
    height: 60px;

}

.containerblanco{
    display: flex;
    background-color: #f4f4f4;
    width: auto;
    height: 60px;

} 